* {
  margin: 0;
  padding: 0;
  font-family: 'Tahoma', sans-serif;
  }
  div{
    border-top: 1px solid #d5d5d5;
  }
   h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 20px;
  }
   h2 {
    text-align: center;
    margin-bottom: 20px;
  }
 